*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
  display: block;
}
